# Игнорировать временные файлы ОС
.DS_Store

# Игнорировать директорию build/
build/
build\

# Игнорировать все файлы .log
*.log

# ignore environment dir
venv\
venv/
__pycache__/
 *.xlsx

# Игнорировать все файлы в папке node_modules
node_modules/

# Игнорировать все файлы *.env (например, настройки окружения)
*.env
# Игнорировать все файлы *.env (например, настройки окружения)
data/
data\
# игнорировать файлы cookies
*.pkl
venv/

# Игнорировать старые версии скриптов
old_versions/
