# Игнорировать временные файлы ОС
*.DS_Store

# Игнорировать директорию build/
build/

# Игнорировать все файлы .log
*.log

# Игнорировать все файлы в папке node_modules
node_modules/

# Игнорировать все файлы *.env (например, настройки окружения)
*.env
# Игнорировать все файлы *.env (например, настройки окружения)
data/
# игнорировать файлы cookies
*.pkl
venv/
